__pycache__/
.pytest_cache/
.venv/
venv/
.git/
.gitignore
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
node_modules/
dist/
build/
*.egg-info/
Dockerfile*
README.md
API_README.md
chromedriver.exe
cloudflared.exe
urls
outputs_seq_models/**/*.png
dataset/analytics/
outputs_seq_models/**/loss_curve.png
scraped_json/


